body {
  font-family: "Cairo", sans-serif;
  /* background-color: #191f2b; */
  background-color: #000;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #ddd;
}

.container {
  max-width: 720px;
  margin: 20px auto;
}